[report]
include =
    slack_invitation/*.py
omit =
    slack_invitation/__init__.py
    slack_invitation/compatibility.py
    slack_invitation/tests/compatibility.py
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
